/.config/chromium
/.config/corectrl
/.config/dconf
/.config/g/index
/.config/GitHub Desktop
/.config/go
/.config/pulse
/.mozilla/firefox/Crash Reports
/.mozilla/firefox/mdp4wnzj.default
.config/user-dirs.dirs
.config/user-dirs.locale
/.config/github-copilot
/.cache
/.local/share
/.mozilla/firefox/hutm2cna.default-release
/.mozilla/firefox/tmilgrhh.default
/.pki/nssdb
.bash_history
.gitconfig
.mozilla/firefox/installs.ini
.mozilla/firefox/profiles.ini
/.config/gh
/.gnupg
.config/dolphinrc
.config/btop/btop.log
/.config/htop
/.config/kde.org
.config/knfsshare
/.local/state
/.mozilla/firefox/a96g19er.default
/.mozilla/firefox/iolkdbma.default-release
/.cargo
